@import 'config';
@import 'menu';
*{
    box-sizing: border-box;
}
body{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size: 6rem;
        padding: -1rem;
        margin-top: -3rem;
    }
    &.lg-heading1{
        font-size: 6rem;
        padding: -1rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2),0.5);
    }
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-name{
    color: $secondary-color;
}
.text-code{
    color: #fff;
}
.sm-name{
    color: $secondary-color;
}
.text-secondary{
    color: #fff;
}
main{
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh-60px);
    .icons{
        margin-top: 1rem;
        a{
            padding: 0.4rem;
            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
    &#about{
        overflow: hidden;
        .about-info{
            display: grid;
            grid-gap: 30px;
            grid-template-areas:
            'bioimage bio bio';

        }
    }
    &#coding{
        overflow: hidden;
        .boxes{
            display: grid;
            grid-gap: 30px;
            grid-template-areas:
            'box-1 box-2'
            'box-3 box-4'
            'box-5';
            grid-auto-rows: 3rem;
            grid-template-columns: repeat(2, 1fr);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 3rem;

            div{
                font-size: 1rem;
                border: 3px #fff solid;
                padding: 1rem 2rem;
                margin-bottom: 2rem;
                @include easeOut

                &:hover{
                    padding: 0.5rem 1.5rem;
                    background: $secondary-color;
                    color: set-text-color($secondary-color);
                    span{
                        color: set-text-color($secondary-color);
                    }

                }
            }
        }
    }
    .box-1{
        grid-area: box-1;
        font-size: 1rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
    }
    .box-2{
        grid-area: box-2;
        font-size: 1rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
    }
    .box-3{
        grid-area: box-3;
        font-size: 1rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
    }
    .box-4{
        grid-area: box-4;
        font-size: 1rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
    }
    .box-5{
        grid-area: box-5;
        font-size: 1rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
    }
}

.bio-image{
    grid-area: bioimage;
    margin-top: -2vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    border: solid 2px $secondary-color;
}
.bio{
    grid-area: bio;
    font-size: 1rem;
    background: lighten($primary-color,5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
}

.boxes0{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 1rem;
        border: 2px #fff solid;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        @include easeOut
    }
}

#main-footer{
    text-align: center;
    padding: 0.3rem;
    background: darken($primary-color, 14);
    color: set-text-color($primary-color);
    height: 30px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.project-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'project1 project2 project3';
    grid-template-columns: repeat(3,1fr);
    .project-1{
        grid-area: project1;
    }
    .project-2{
        grid-area: project2;
    }
    .project-3{
        grid-area: project3;
    }
    .project{
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 3px solid;
    }   
}

.ab1{
    font-style: bold;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
}

.ab2{
    font-style: initial;
    font-family: 'Courier New', Courier, monospace;
    background: lighten($primary-color, 1);
    padding: 1rem;
}


.ac1{
    font-style: bold;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: lighten($primary-color, 1);
    padding: 1rem;
}

.ac2{
    font-style: initial;
    font-family: 'Courier New', Courier, monospace;
    background: lighten($primary-color, 1);
}

.date{
    font-style: oblique;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: lighten($primary-color, 1);
}

.branch{
    font-style: italic;
    margin-left: 30px;
}
.time{
    color: rgb(224, 84, 126);
}

@import 'mobile';